* {
    box-sizing: border-box;
    padding: 25px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
}

body {
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: whitesmoke;
    padding: 0 25px 0 25px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav li {
    display: block;
    padding: 0 25px 0 25px;
    margin: 0;
}

#logo {
    display: flex;
    margin-top: -2px;
    padding: 0;
    min-width: 270px;
}

.active {
    background-color: rgb(238, 232, 36);
}

li a:link {
    color: black;
}

li a:hover {
    color: rgba(238, 232, 36, 0.5);
}

li a:visited {
    color: black;
}

.background {
    background: url(img/coffee1.jpg);
    background-color: antiquewhite;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border: 0;
    padding: 8%;
}

.background * {
    padding: 8px;
    color: whitesmoke;
}

.background p {
    font-size: 25px;
    margin: 3px;
}

.background h1 {
    text-align: left;
    font-size: 67px;
}

.button {
    background-color: rgb(238, 232, 36);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    margin: 12.5px;
}
.button2 {
    background-color: rgb(238, 232, 36);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    margin: 12.5px;
}

.button1 {
    background-color: rgba(250, 235, 215, 0.5);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    margin: 12.5px;
}

#blogbackground {
    background: url(img/blogbackground2.jpg);
    background-color: antiquewhite;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    border: 0;
    padding: 7%;
}

#blogbackground * {
    padding: 8px;
    color: whitesmoke;
}

#blogbackground h1 {
    text-align: center;
    text-align: left;
    font-size: 67px;
}

h2 {
    color: black;
    font-size: 20px;
}

.image1 {
    height: 300px;
    width: 260px;
    float: right;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ddd;
    opacity: 0.7;
    margin: 10px 0 10px 10px;
}

.ourstory {
    padding: 25px 0px 5px 25px;
}

h3 {
    padding: 25px 25px 5px 18px;
    color: rgb(238, 232, 36);
    font-size: 35px;
}

.ourstory p {
    padding: 25px 25px 5px 18px;
    font-size: 18px;
    line-height: 1.8;
    color: rgb(63, 66, 66);
}

.icon {
    color: black;
}

.iconlist {
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(63, 66, 66);
    
        
    }

.iconlist p {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
    }

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.footer * {
    padding: 5px;
}



.text,#favecoffee {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 12px;
}

#submit {
    background-color: rgb(238, 232, 36);
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgba(238, 232, 36, 0);
}

.container {
    border-radius: 5px;
    background-color: whitesmoke;
    opacity: 0.9;
    padding: 10px;
    margin-top: -8px;
}

.container * {
    color: black;
}

#blog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* responsive layout - makes one column instead of 2 */

.polaroid {
    max-width: 35%;
    background-color: whitesmoke;
    margin-bottom: 25px;
    padding: 10px;
    margin: 50px 30px 0 30px;
}

.polaroid img {
    padding: 00px 00px 10px 0px;
    max-width: 100%;
    height: auto;
}

.blogcontainer {
    text-align: left;
    padding: 0px 20px;
}

.blogcontainer * {
    padding: 10px;
}

.responsive::after {
    content: "";
    display: table;
    clear: both;
}

.thick {
    font-weight: 5000;
    font-size: 18px;
}

.yellow {
    color: rgb(238, 232, 36)
}

.smallfont {
    font-size: 20px;
}

@media (max-width: 750px) {
    #blog {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .polaroid {
        max-width: 100%;
    }
    .nav {
        flex-direction: column;
    }
    .nav ul {
        flex-direction: column;
        margin: -10px -10px; 
    }
    .nav li {
        padding: 8px 0px;
    
    }

    #logo {
        margin-bottom: -25px;
        margin-left: -10px;
    }
    .active {
        background-color: rgb(238, 232, 36);
        padding: 0px 50px 0px 22px;
        text-align: left;
    }
    .background {
        background: url(img/coffee1.jpg);
        background-color: antiquewhite;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        border: 0;
        padding: 8%;
    }
    .background * {
        padding: 4px;

    }
    
    .background p {
        font-size: 15px;
        margin: 3px;
    }
    
    .background h1 {
        text-align: left;
        font-size: 45px;
    }
    
    .button {
        font-size: 12px;
        padding: 5px;
        margin: 7px;
    }
    .button1 {
        font-size: 12px;
        padding: 5px;
        margin: 10px;
    }
    
    .ourstory {
        margin-left: -30px;
        display: flex;
        flex-direction: column;
        
    }
    .ourstory img {
        align-items: flex-start;
        width: 95%;
    }
    .ourstory p {
        font-size: 13.5px;
    }
    .button2 {
        font-size: 12px;
        padding: 5px;
        margin: 20px 100px;
    }

    .icon {
        margin-top: -20px;
    }
    .iconlist * {
        padding: 25px 11px;
    }
    .icon h3 {
        margin-left: -30px;
        margin-top: -60px;
    }
    .iconlist p {
        font-size: 15px;
    }

    
    .container {
        height: 255px;
    }
    .container * {
        padding: 0px 2px;
        
    }
    .container h5 {
        font-size: 15px;
    }
    .container label {
        font-size: 12px;
    }
    #favecoffee {
        font-size: 11px;
        padding: 2px;
    }
    .text {
        font-size: 12px;
    }
    #submit {
        font-size: 10px;
        padding: 3px 10px;
        margin: 0 0 10px 2px;
    }

    #blog {
        padding: 0px 0px;
    }
}